[include fluidd.cfg]
[include mainsail.cfg]
[include gab-3d-utilities.cfg]
[include shell_command.cfg]
[include printer/speed.cfg]
[include printer/homing.cfg]
[include KAMP_Settings.cfg]
[include printer/macros.cfg]
[include printer/micro_probe.cfg]
[include printer/adxl.cfg]

[virtual_sdcard]
path: /home/oprint/printer_data/gcodes/
[pause_resume]
recover_velocity: 100
[force_move]
enable_force_move: True
[exclude_object]
[gcode_arcs]
[respond]

[mcu]
serial: /dev/ttyS0
baud: 250000
restart_method: command

[mcu host]
serial: /tmp/klipper_host_mcu

[mcu EBBCan]
canbus_uuid: 90e9dca20ffa

[printer]
kinematics: corexy
max_velocity: 800
max_accel: 10000
max_z_velocity: 25
max_z_accel: 300
square_corner_velocity: 12

[stepper_x]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
rotation_distance: 40
microsteps: 128
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: -17
position_min: -17
position_max: 262
homing_speed: 48
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: P1.1
run_current: 1.50
stealthchop_threshold: 0
interpolate: False
diag_pin: ^P1.29
driver_SGTHRS: 110

[stepper_y]
step_pin: P2.2
dir_pin: P2.3
enable_pin: !P2.1
rotation_distance: 40
microsteps: 128
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: -5
position_min: -5
position_max: 270
homing_speed: 48
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: P1.8
diag_pin: ^P1.27
run_current: 1.50
stealthchop_threshold: 0
interpolate: False
driver_SGTHRS: 112

[stepper_z]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
rotation_distance: 2
microsteps: 64
position_max: 220
endstop_pin: probe:z_virtual_endstop

[tmc2209 stepper_z]
uart_pin: P1.15
run_current: 0.9
# stealthchop_threshold: 20
interpolate: False

[stepper_z1]
step_pin: P1.9
dir_pin: !P1.14
enable_pin: !P0.10
rotation_distance: 2
microsteps: 64
endstop_pin: probe:z_virtual_endstop

[tmc2209 stepper_z1]
uart_pin: P1.17
run_current: 0.9
# stealthchop_threshold: 20
interpolate: False

[stepper_z2]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
rotation_distance: 2
microsteps: 64
endstop_pin: probe:z_virtual_endstop

[tmc2209 stepper_z2]
uart_pin: P1.10
run_current: 0.9
# stealthchop_threshold: 20
interpolate: False

[extruder]
step_pin: EBBCan: PD0
dir_pin: !EBBCan: PD1
enable_pin: !EBBCan: PD2
rotation_distance: 4.695
full_steps_per_rotation: 200
microsteps: 64
nozzle_diameter: 0.400
filament_diameter: 1.750
# heater_pin: P2.7
# sensor_pin: P0.23
heater_pin: EBBCan: PB13
sensor_pin: EBBCan: PA3
sensor_type: ATC Semitec 104NT-4-R025H42G
min_temp: 10
max_temp: 320
min_extrude_temp: 10
max_extrude_only_distance: 1000.0
max_extrude_cross_section: 500
max_extrude_only_velocity: 200
max_extrude_only_accel: 10000
pressure_advance: 0.033
pressure_advance_smooth_time: 0.03
max_power: 0.8
smooth_time: 2

[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.650
stealthchop_threshold: 0
interpolate: False

[firmware_retraction]
retract_length: 0.6
retract_speed: 30
unretract_extra_length: 0
unretract_speed: 30

# [probe]
# pin: ^P1.25
# speed: 5.0
# x_offset: -28
# y_offset: 3
# z_offset: 0.99
# activate_gcode:
#   SET_SERVO SERVO=BFPTouch ENABLE=1 ANGLE=47
#   G4 P300
# deactivate_gcode:
#   SET_SERVO SERVO=BFPTouch ANGLE=5 ENABLE=0

# [servo BFPTouch]
# pin: P1.23
# initial_angle: 0
# maximum_servo_angle = 90
# minimum_pulse_width = 0.001
# maximum_pulse_width = 0.002

[heater_bed]
heater_pin: P2.5
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.24
min_temp: -20
max_temp: 130

[fan] # model fan
# pin: P2.4
pin: EBBCan: PA1

[heater_fan extruder_fan]
# pin: P1.4
pin: EBBCan: PA0
fan_speed: 0.85

[controller_fan board_fan]
pin: P2.6
#cycle_time: 0.005
hardware_pwm: False
max_power: 0.8
shutdown_speed: 0
kick_start_time: 0.100
idle_timeout: 90
idle_speed: 0.6
heater: extruder

# [display]
# lcd_type: ssd1306
# i2c_mcu: host
# i2c_bus: i2c.0
# menu_timeout: 30

[idle_timeout]
timeout: 3600

[input_shaper]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22
#*# pid_ki = 11
#*# pid_kd = 18
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 58.162
#*# pid_ki = 3.693
#*# pid_kd = 229.012
#*#
#*# [bed_mesh hot90]
#*# version = 1
#*# points =
#*# 	-0.046924, 0.014326, 0.069326, 0.062451, 0.009326
#*# 	-0.010049, 0.052451, 0.103701, 0.086201, 0.024326
#*# 	-0.000049, 0.056201, 0.088701, 0.070576, 0.003076
#*# 	0.004951, 0.058701, 0.091201, 0.063701, -0.010674
#*# 	0.008076, 0.036826, 0.053701, 0.014326, -0.050049
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 225.0
#*# min_y = 25.0
#*# max_y = 250.0
#*#
#*# [bed_mesh cold]
#*# version = 1
#*# points =
#*# 	-0.190000, -0.133125, -0.100000, -0.138750, -0.226250
#*# 	-0.101875, -0.055625, -0.024375, -0.064375, -0.148750
#*# 	-0.074375, -0.022500, -0.004375, -0.035000, -0.112500
#*# 	-0.053125, 0.003750, 0.034375, 0.005625, -0.129375
#*# 	-0.045625, 0.006875, 0.025625, -0.002500, -0.085000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 225.0
#*# min_y = 25.0
#*# max_y = 250.0
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 40
#*# shaper_type_y = mzv
#*# shaper_freq_y = 37.4
#*#
#*# [bed_mesh hot90pei]
#*# version = 1
#*# points =
#*# 	-0.174375, -0.106484, -0.088984, -0.063359, -0.098984
#*# 	-0.061016, -0.022344, 0.022578, 0.016719, 0.018047
#*# 	-0.030234, -0.008750, 0.038125, 0.002891, 0.013359
#*# 	-0.008828, -0.016719, 0.040312, -0.019141, -0.029609
#*# 	-0.067578, -0.046484, -0.063438, -0.069219, -0.127813
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 225.0
#*# min_y = 25.0
#*# max_y = 250.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.104838, -0.027651, -0.013588, -0.063901, -0.130151
#*# 	  -0.081088, -0.023432, -0.010932, -0.047338, -0.081557
#*# 	  -0.084994, -0.024682, 0.000943, -0.030151, -0.079682
#*# 	  -0.096869, -0.055932, -0.016557, -0.032963, -0.039526
#*# 	  -0.159526, -0.050932, -0.014213, -0.019526, -0.073901
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 220.0
#*# min_y = 40.0
#*# max_y = 240.0
